# -------------------------------------------------------------------
# Python
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.log
*.sqlite3

# Virtual environments
.venv/
env/
venv/
ENV/
.env

# Byte-compiled
*.so

# -------------------------------------------------------------------
# Poetry
# -------------------------------------------------------------------
poetry.lock

# -------------------------------------------------------------------
# PyCharm / IntelliJ IDEA
# -------------------------------------------------------------------
.idea/
*.iml

# -------------------------------------------------------------------
# VSCode (якщо хтось у команді ним користується)
# -------------------------------------------------------------------
.vscode/

# -------------------------------------------------------------------
# OS junk files
# -------------------------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------------------------
# Test, Coverage & Reports
# -------------------------------------------------------------------
.pytest_cache/
.coverage
htmlcov/
dist/
build/
